.card {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #1dd1a1, #54a0ff);
  border-radius: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transform: scale(0.8);
  filter: drop-shadow(0px 0px 20px rgb(228, 0, 0));
}
